img{
    width:100%;
    height:auto;
}

body{
    font-family: 'Handlee', cursive;
}

nav{
    margin:0;
    padding: 0;
    background-color: black;
    height:50px;
    color:white;
    position: fixed;
    width:100%;
    /* margin-left: auto; */
}

nav>ul>li{
    display: inline-block;
}

nav>ul>li>a{
    color:white;
    margin-right:50px;
    font-weight:bold;
}

.about{
    /* background: transparent; */
    height:auto;
    /* color: black; */
    display: flex;
}

.carousel img{
    width:300px;
    height:300px;
}

.image{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/28/21/20/pizza-744405_960_720.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:700px;

}

.main{
    position: absolute;
    top:300px;
    left:300px;
    color:white;
    text-align: center;
    /*  */
}

.main h1{
    font-size: 4em;
}

.main p{
    font-size: 20px;
}

.about img{
    width:30%;
    height:30%;
    /* border-radius: 50%; */
    margin-right: 80px;
    margin-left: 150px;
}

.about1{
    margin-bottom: 70px;
    margin-top:30px;
}

.para1{
    background-color:#17324D;
    width:30%;
    height:30%;
    padding: 30px;
    margin-top: 50px;
    color:white;
    font-size: 17px;
}

.offer1{
    margin-top:50px;
    margin-bottom:  50px;
}

#o-content img{
    width:100%;
    height:auto;
    padding: 0px;
}

.offer2{
    display: flex;
}

#o-content p{
    padding: 10px;
}

#o-content{
    border: 1px solid white;
    box-shadow: 2px 2px 5px  grey;
    margin-left: 20px;
    border-radius: 3px;
 }

 /* .order1{
     margin-top: 100px;
 } */

 #order2{
     background-image: url("https://cdn.pixabay.com/photo/2015/10/05/18/15/pizza-973075_960_720.jpg");
     background-attachment: fixed;
     background-position: center center;
     background-repeat: no-repeat;
     background-size:cover;
     width: 100%;
     height:100vh;
     margin-top: 100px;
 }

 .order3{
     background-color: rgba(0, 0, 0, 0.8);
     color:white; 
     position: relative;
     top: 50px;
     left: 60px;
     width:90%;
     height:550px;
     padding:20px;
}

 .custom-select{
     width:40%;
     margin-bottom: 20px;
     /* margin-top:20px;  */
     display: flex;
     flex-direction: column;
 }

 .contacts{
     background-color:#17324D;
     width:100%;
     height:400px; 
     color:white;
     padding: 20px;
 }

 #showOrder{
     display:none;
 }

 .checkin{
     margin-bottom: 20px;
 }

 input{
    margin-right: 10px;
 }